:root {
  background-color: black;
  color: gray;
}
h1 {
  font-size: 70px;
  color: white;
  text-transform: initial;
  text-align: center;
  margin-top: 250px;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  font-size: 50px;
  position: absolute;
  top: 6px;
  right: 50px;
  z-index: 999px;
}

.button a {
  text-decoration: none;
  color: sandybrown;
}

.btn-open:after {
  font-family: 'FontAwesome';
  content: '\f0c9';
}
